# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
from functions import *

In [3]:

customer_data_1 = read_csv_file('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

customer_data_2 = read_csv_file('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')

customer_data_3 = read_csv_file('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

customer_data_1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#customer_data_1.columns

customer_data_1.shape

(4008, 11)

In [5]:

#customer_data_2.columns

customer_data_2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [6]:
customer_data_3.dtypes

customer_data_3.rename(columns={'State' : 'ST', 'Gender' : 'GENDER'}, inplace=True)

customer_data_3.columns

Index(['Customer', 'ST', 'Customer Lifetime Value', 'Education', 'GENDER',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [7]:
#Cambio todas las columnas a un mismo tipo de valor para facilitar la uniÃ³n posterior

customer_data_1 = change_dtype_str(customer_data_1)
customer_data_2 = change_dtype_str(customer_data_2)
customer_data_3 = change_dtype_str(customer_data_3)

customer_data_3.dtypes

Customer                     object
ST                           object
Customer Lifetime Value      object
Education                    object
GENDER                       object
Income                       object
Monthly Premium Auto         object
Number of Open Complaints    object
Policy Type                  object
Total Claim Amount           object
Vehicle Class                object
dtype: object

In [8]:
customer_data_12 = pd.concat([customer_data_1, customer_data_2], ignore_index=True)

customer_data_raw = pd.concat([customer_data_12, customer_data_3], ignore_index=True)

customer_data_raw.dtypes

Customer                     object
ST                           object
GENDER                       object
Education                    object
Customer Lifetime Value      object
Income                       object
Monthly Premium Auto         object
Number of Open Complaints    object
Policy Type                  object
Vehicle Class                object
Total Claim Amount           object
dtype: object

In [9]:
# Limpiar nombres de las columnas

customer_data_clean_columns = clean_columns_names(customer_data_raw)

customer_data_clean_columns = customer_data_clean_columns.rename(columns={'st' : 'state'})

customer_data_clean_columns.nunique()

customer                     9057
state                           9
gender                          6
education                       7
customer_lifetime_value      8212
income                       5820
monthly_premium_auto          333
number_of_open_complaints      13
policy_type                     4
vehicle_class                   7
total_claim_amount           5071
dtype: int64

In [10]:
# Limpiar los valores

customer_data_clean_values = clean_values(customer_data_clean_columns)

customer_data_clean_values['gender'].value_counts()
customer_data_clean_values['vehicle_class'].value_counts()
customer_data_clean_values['education'].value_counts()
customer_data_clean_values['vehicle_class'].value_counts()
customer_data_clean_values['state'].value_counts()

state
California    3152
nan           2937
Oregon        2601
Arizona       1704
Nevada         882
Washington     798
Name: count, dtype: int64

In [11]:


customer_data_clean_values.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value      object
income                       object
monthly_premium_auto         object
number_of_open_complaints    object
policy_type                  object
vehicle_class                object
total_claim_amount           object
dtype: object

In [12]:
#customer_data_clean_values['customer_lifetime_value'] = to_numeric_values(customer_data_clean_values, 'customer_lifetime_value')
#customer_data_clean_values['income'] = to_numeric_values(customer_data_clean_values, 'income')
#customer_data_clean_values['total_claim_amount'] = to_numeric_values(customer_data_clean_values, 'total_claim_amount')
#customer_data_clean_values['monthly_premium_auto'] = to_numeric_values(customer_data_clean_values, 'monthly_premium_auto')

In [13]:
customer_data_clean_values.dtypes

customer_data_clean_values

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,nan,Master,nan,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941,73,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604,79,0,Corporate Auto,Four-Door Car,379.2
12071,TD14365,California,M,Bachelor,8163.890428,0,85,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941,96,0,Personal Auto,Four-Door Car,691.2
12073,Y167826,California,M,College,2611.836866,0,77,0,Corporate Auto,Two-Door Car,369.6

In [14]:
customer_data_clean_values['number_of_open_complaints'] = clean_number_of_complaints(customer_data_clean_values, 'number_of_open_complaints')

customer_data_clean_values

ValueError: Columns must be same length as key

In [ ]:
customer_data_clean_values['number_of_open_complaints'].value_counts()

number_of_open_complaints
0      7255
nan    2937
1      1012
2       376
3       290
4       148
5        56
Name: count, dtype: int64

In [ ]:
customer_data_clean_values.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value      object
income                       object
monthly_premium_auto         object
number_of_open_complaints    object
policy_type                  object
vehicle_class                object
total_claim_amount           object
dtype: object

In [ ]:
customer_data_types = customer_data_clean_values

customer_data_types['customer_lifetime_value'] = to_numeric_values(customer_data_types, 'customer_lifetime_value')

ValueError: Columns must be same length as key

In [ ]:
customer_data_types['income'] = to_numeric_values(customer_data_types, 'income')

ValueError: Columns must be same length as key

In [ ]:
customer_data_types['total_claim_amount'] = to_numeric_values(customer_data_types, 'total_claim_amount')

ValueError: Columns must be same length as key

In [ ]:
customer_data_types.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto          object
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [1]:
# Your code goes here

from functions import *

marketing_analysis = read_csv_file('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

marketing_analysis

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [2]:
marketing_analysis = clean_columns_names(marketing_analysis)

marketing_analysis.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [8]:
marketing_analysis.isnull().sum()

categorical_columns = ['state', 'response', 'vehicle_class', 'vehicle_size', 'vehicle_type']
numerical_columns = ['months_since_last_claim', 'number_of_open_complaints']

marketing_analysis.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [11]:
marketing_analysis_fill_na = fill_categorical_columns(marketing_analysis, categorical_columns)

marketing_analysis_fill_na

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,0.384256,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,...,0.000000,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A

In [12]:
marketing_analysis_fill_na = fill_numerical_columns(marketing_analysis_fill_na, numerical_columns)

marketing_analysis_fill_na

c:\Users\VSPC\Documents\GitHub\shark_attack_project\sharkAtack_g7\lab-dw-data-structuring-and-combining\functions.py:70: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe[col].fillna(dataframe[col].mean(), inplace=True)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,0.384256,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,...,0.000000,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A

In [13]:
pivot_table = pd.pivot_table(marketing_analysis_fill_na,
                             values = 'total_claim_amount',
                             index = 'sales_channel',
                             aggfunc= 'sum')

pivot_table = pivot_table.round(2)

In [14]:
print(pivot_table)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [15]:
pivot_table_customer_life = pd.pivot_table(marketing_analysis_fill_na,
                                           values = 'customer_lifetime_value',
                                           index = 'gender',
                                           columns = 'education',
                                           aggfunc= 'mean')

pivot_tahble_customer_life = pivot_table_customer_life.round(2)

print(pivot_table_customer_life)

education     Bachelor      College       Doctor  High School or Below  \
gender
F          7874.269478  7748.823325  7328.508916           8675.220201
M          7703.601675  8052.459288  7415.333638           8149.687783

education       Master
gender
F          8157.053154
M          8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here